In [9]:
import pandas as pd

L = [1, 2, 3, 4, 5]

df = pd.Series(L)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random((5, 4)))
df.columns = ['A', 'B', 'C', 'D']

df

          A         B         C         D
0  0.088057  0.434633  0.455566  0.013709
1  0.313948  0.583107  0.189876  0.033670
2  0.634683  0.634822  0.529186  0.837428
3  0.073663  0.876100  0.774669  0.335117
4  0.812081  0.076595  0.018519  0.116182

In [4]:
import pandas as pd
import numpy as np

df_a = pd.DataFrame(np.random.random((5, 4)))
df_a.columns = ['A', 'B', 'C', 'D']

df_a.index = [pd.date_range('2020-01-01', periods = 5)]

df_a

In [71]:
import pandas as pd

df_b = pd.DataFrame({'A': ['A'+str(i) for i in range(12)], 'B': ['B'+str(i) for i in range(12)],
                     'C': ['C'+str(i) for i in range(12)], 'D': ['D'+str(i) for i in range(12)]})

df_b

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
import pandas as pd

cols = ['A', 'B', 'C', 'D']
df_b = pd.DataFrame({c: [c+str(i) for i in range(12)] for c in cols})

df_b[0:5]

In [82]:
import pandas as pd

cols = ['A', 'B', 'C', 'D']
df_b = pd.DataFrame({c: [c+str(i) for i in range(12)] for c in cols})

df_b.index, df_b.values, df_b.columns

(RangeIndex(start=0, stop=12, step=1),
 array([['A0', 'B0', 'C0', 'D0'],
        ['A1', 'B1', 'C1', 'D1'],
        ['A2', 'B2', 'C2', 'D2'],
        ['A3', 'B3', 'C3', 'D3'],
        ['A4', 'B4', 'C4', 'D4'],
        ['A5', 'B5', 'C5', 'D5'],
        ['A6', 'B6', 'C6', 'D6'],
        ['A7', 'B7', 'C7', 'D7'],
        ['A8', 'B8', 'C8', 'D8'],
        ['A9', 'B9', 'C9', 'D9'],
        ['A10', 'B10', 'C10', 'D10'],
        ['A11', 'B11', 'C11', 'D11']], dtype=object),
 Index(['A', 'B', 'C', 'D'], dtype='object'))

In [111]:
import pandas as pd

cols = ['A', 'B', 'C', 'D']
df_b = pd.DataFrame({c: [c+str(i) for i in range(12)] for c in cols})

df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

In [115]:
import pandas as pd

cols = ['A', 'B', 'C', 'D']
df_b = pd.DataFrame({c: [c+str(i) for i in range(12)] for c in cols})

df_b.describe()

          A   B   C   D
count    12  12  12  12
unique   12  12  12  12
top     A11  B0  C1  D0
freq      1   1   1   1

In [134]:
import pandas as pd
import numpy as np

df_a = pd.DataFrame(np.random.random((5, 4)))
df_a.columns = ['A', 'B', 'C', 'D']

df_a.index = [pd.date_range('2020-01-01', periods = 5)]

df_a.sort_values(by = ['C'], ascending = False)

                   A         B         C         D
2020-01-04  0.945064  0.333853  0.924062  0.901324
2020-01-03  0.770025  0.034070  0.604175  0.339858
2020-01-01  0.907073  0.197403  0.481137  0.455538
2020-01-05  0.010645  0.774635  0.461173  0.533492
2020-01-02  0.716615  0.525117  0.147941  0.862102

In [144]:
import pandas as pd
import numpy as np

df_a = pd.DataFrame(np.random.random((5, 4)))
df_a.columns = ['A', 'B', 'C', 'D']

df_a.index = [pd.date_range('2020-01-01', periods = 5)]

df_a.iloc(axis = 1)[0]
#df_a['A']

2020-01-01    0.409483
2020-01-02    0.766840
2020-01-03    0.049753
2020-01-04    0.160862
2020-01-05    0.826048
Name: A, dtype: float64

In [170]:
import pandas as pd
import numpy as np

df_a = pd.DataFrame(np.random.random((5, 4)))
df_a.columns = ['A', 'B', 'C', 'D']

df_a.index = [pd.date_range('2020-01-01', periods = 5)]

df_a.iloc[2], df_a.iloc[4]

(A    0.137684
 B    0.870918
 C    0.634943
 D    0.009915
 Name: (2020-01-05 00:00:00,), dtype: float64,
 A    0.271213
 B    0.689840
 C    0.786964
 D    0.067659
 Name: (2020-01-03 00:00:00,), dtype: float64)

In [150]:
import pandas as pd
import numpy as np

df_a = pd.DataFrame(np.random.random((5, 4)))
df_a.columns = ['A', 'B', 'C', 'D']

df_a.index = [pd.date_range('2020-01-01', periods = 5)]

df_a.iloc[1:4, 0:2]

                   A         B
2020-01-02  0.949255  0.732938
2020-01-03  0.769507  0.739247
2020-01-04  0.880763  0.757548

In [169]:
import pandas as pd
import numpy as np

df_a = pd.DataFrame(np.random.random((5, 4)))
df_a.columns = ['A', 'B', 'C', 'D']

df_a.index = [pd.date_range('2020-01-01', periods = 5)]

df_a[df_a > 0]

                   A         B         C         D
2020-01-01  0.184289  0.195040  0.788643  0.261254
2020-01-02  0.254648  0.735686  0.868353  0.462014
2020-01-03  0.319123  0.654806  0.318481  0.633972
2020-01-04  0.087386  0.607374  0.459802  0.577839
2020-01-05  0.768531  0.971541  0.812243  0.477228

In [179]:
import pandas as pd

df_1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})
df_2 = pd.DataFrame({'A': [-1, -2], 'B': [-3, -4], 'C': [-5, -6]})

pd.concat([df_1, df_2])

   A  B  C
0  1  3  5
1  2  4  6
0 -1 -3 -5
1 -2 -4 -6

In [180]:
import pandas as pd

df_1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})
df_2 = pd.DataFrame({'A': [-1, -2], 'B': [-3, -4], 'C': [-5, -6]})

pd.concat([df_1, df_2], axis = 1)

   A  B  C  A  B  C
0  1  3  5 -1 -3 -5
1  2  4  6 -2 -4 -6

In [77]:
import pandas as pd

df = pd.read_csv('./data/train.csv')

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [78]:
import pandas as pd

df = pd.read_excel('./data/report.xlsx', sheet_name = 'report')

df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,1,103,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,53.5,2024
94,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1951
95,1,128,nissan,gas,std,two,hatchback,fwd,front,94.5,165.6,63.8,53.3,2028
96,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,165.3,63.8,54.5,1971
97,1,103,nissan,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,53.5,2037

In [80]:
import pandas as pd

df = pd.read_csv('./data/train.csv')

df = df.drop(labels = ['PassengerId', 'Name', 'Ticket'], axis = 1)

df.to_csv('./result/train(edited).csv')

In [81]:
import pandas as pd

df_c = pd.read_excel('./data/toy.xlsx')

df_c.dropna()

     A    B    C
0  1.0 -1.0  2.0
2  3.0 -3.0  4.0
3  4.0 -4.0  7.0

In [82]:
import pandas as pd

df_c = pd.read_excel('./data/toy.xlsx')

df_c.fillna(method = 'ffill')

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -1.0   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -4.0   7.0
5  5.0 -6.0  10.0

In [83]:
import pandas as pd

df_c = pd.read_excel('./data/toy.xlsx')

df_c.fillna(df_c.mean())

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -3.5   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -3.5   5.2
5  3.0 -6.0  10.0

In [85]:
import pandas as pd

df_c = pd.read_excel('./data/toy.xlsx')

df_c.fillna(df_c.mean().mean())

          A         B          C
0  1.000000 -1.000000   2.000000
1  2.000000  1.566667   3.000000
2  3.000000 -3.000000   4.000000
3  4.000000 -4.000000   7.000000
4  5.000000  1.566667   1.566667
5  1.566667 -6.000000  10.000000

In [64]:
import pandas as pd

df = pd.DataFrame({'A' : [1, 2, 3, 4, 5], 'B' : [-1, -2, -3, -4, -5], 'C' : [2, 3, 4, 7, 8]})

df['평균'] = [df.mean(axis = 1)[i] for i in range(5)]

df

   A  B  C        평균
0  1 -1  2  0.666667
1  2 -2  3  1.000000
2  3 -3  4  1.333333
3  4 -4  7  2.333333
4  5 -5  8  2.666667

In [95]:
import pandas as pd

df = pd.DataFrame({'A' : [1, 2, 3, 4, 5], 'B' : [-1, -2, -3, -4, -5], 'C' : [2, 3, 4, 7, 8]})

df_mean = [df.mean(axis = 1)[i] for i in range(5)]
df_sum = [df.sum(axis = 1)[i] for i in range(5)]

df['평균'] = df_mean
df['합계'] = df_sum

df

   A  B  C        평균  합계
0  1 -1  2  0.666667   2
1  2 -2  3  1.000000   3
2  3 -3  4  1.333333   4
3  4 -4  7  2.333333   7
4  5 -5  8  2.666667   8

In [100]:
import pandas as pd

df = pd.DataFrame({'val1': [1, 2, 3, 4, 5], 'val2': [-1, -2, -3, -4, -5],
                   'val3': [2, 3, 4, 7, 8], 'label': ['A', 'A', 'B', 'B', 'B']})

df.groupby(['label']).sum()

       val1  val2  val3
label
A         3    -3     5
B        12   -12    19

In [106]:
import pandas as pd

df = pd.DataFrame({'val1': [1, 2, 3, 4, 5], 'val2': [-1, -2, -3, -4, -5],
                   'val3': [2, 3, 4, 7, 8], 'label': ['A', 'A', 'B', 'B', 'B']})

df.pivot_table(df, ['label'])

       val1  val2      val3
label
A       1.5  -1.5  2.500000
B       4.0  -4.0  6.333333